{% extends 'base.html' %}
{% block mainBody %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam blanditiis eligendi quisquam molestiae quae dolores, mollitia adipisci provident excepturi maxime eaque, perspiciatis saepe odio, iste sed. Ullam delectus voluptatem aperiam.
            Consequuntur voluptatem quis itaque aperiam dolores impedit ad iure vero tempore, deleniti nesciunt ipsam quaerat repellendus incidunt alias repellat. Natus laboriosam provident culpa doloremque rem quis numquam suscipit necessitatibus ut?
            Quae error harum ea, sunt dolores neque laboriosam, nostrum delectus hic optio voluptatem rem quo facere quisquam unde odio eius consequuntur nulla quasi, assumenda asperiores provident nesciunt culpa. Nesciunt, praesentium.
            Dolore dolorum nesciunt magni ipsum accusamus neque adipisci nobis itaque, praesentium quibusdam quam culpa beatae consequatur enim, dignissimos perferendis quasi ratione? Alias eligendi quae ad minima tempora perferendis earum quisquam.
            Voluptate fuga omnis distinctio aliquam laborum, qui perferendis quam doloremque? Eveniet est doloremque corrupti at officia ad laborum, molestiae delectus ea veniam culpa voluptates reiciendis! Ea repellat soluta nihil iste.
            Non fuga asperiores autem expedita nam atque quasi, veniam officia laboriosam sapiente aspernatur dicta, porro architecto explicabo perspiciatis omnis doloremque alias suscipit cum, quas deleniti ipsum qui! Itaque, autem cumque.
            Neque ut libero quasi quos possimus, ullam ratione minus, alias et vel eos animi aspernatur itaque eius dolorem quas sunt amet beatae obcaecati tempora reprehenderit cumque sed nostrum aliquid. Laborum?
            Amet, perferendis libero! Dolore pariatur voluptates error numquam nisi similique at ullam nostrum porro inventore tempore, maiores impedit quod. Incidunt recusandae quam eius nemo magnam ipsum mollitia qui ut omnis.
            Eos debitis a corporis et alias voluptas repudiandae optio aliquam ducimus quisquam repellat, cupiditate adipisci culpa odio sequi nesciunt vero, magni laborum voluptatem quaerat. Soluta eaque accusamus quo accusantium nulla?
            Quaerat temporibus optio inventore, vel cumque modi tenetur accusantium illum. Magnam cupiditate quis tempore esse suscipit doloremque eligendi ex aliquid ab nam fugit quo quod id, consequatur vitae adipisci accusamus!
        </div>
        <div class="col-md-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam blanditiis eligendi quisquam molestiae quae dolores, mollitia adipisci provident excepturi maxime eaque, perspiciatis saepe odio, iste sed. Ullam delectus voluptatem aperiam.
            Consequuntur voluptatem quis itaque aperiam dolores impedit ad iure vero tempore, deleniti nesciunt ipsam quaerat repellendus incidunt alias repellat. Natus laboriosam provident culpa doloremque rem quis numquam suscipit necessitatibus ut?
            Quae error harum ea, sunt dolores neque laboriosam, nostrum delectus hic optio voluptatem rem quo facere quisquam unde odio eius consequuntur nulla quasi, assumenda asperiores provident nesciunt culpa. Nesciunt, praesentium.
            Dolore dolorum nesciunt magni ipsum accusamus neque adipisci nobis itaque, praesentium quibusdam quam culpa beatae consequatur enim, dignissimos perferendis quasi ratione? Alias eligendi quae ad minima tempora perferendis earum quisquam.
            Voluptate fuga omnis distinctio aliquam laborum, qui perferendis quam doloremque? Eveniet est doloremque corrupti at officia ad laborum, molestiae delectus ea veniam culpa voluptates reiciendis! Ea repellat soluta nihil iste.
            Non fuga asperiores autem expedita nam atque quasi, veniam officia laboriosam sapiente aspernatur dicta, porro architecto explicabo perspiciatis omnis doloremque alias suscipit cum, quas deleniti ipsum qui! Itaque, autem cumque.
            Neque ut libero quasi quos possimus, ullam ratione minus, alias et vel eos animi aspernatur itaque eius dolorem quas sunt amet beatae obcaecati tempora reprehenderit cumque sed nostrum aliquid. Laborum?
            Amet, perferendis libero! Dolore pariatur voluptates error numquam nisi similique at ullam nostrum porro inventore tempore, maiores impedit quod. Incidunt recusandae quam eius nemo magnam ipsum mollitia qui ut omnis.
            Eos debitis a corporis et alias voluptas repudiandae optio aliquam ducimus quisquam repellat, cupiditate adipisci culpa odio sequi nesciunt vero, magni laborum voluptatem quaerat. Soluta eaque accusamus quo accusantium nulla?
            Quaerat temporibus optio inventore, vel cumque modi tenetur accusantium illum. Magnam cupiditate quis tempore esse suscipit doloremque eligendi ex aliquid ab nam fugit quo quod id, consequatur vitae adipisci accusamus!
        </div>
        
       
        
    </div>
</div>
{% endblock mainBody %}
