{% extends 'base.html' %}
{% block mainBody %}
{% include 'slider.html' %}
{% include 'short.html' %}
<div class="container-fluid">

    <div class="row" >
        <div class="text-center pt-3 pb-3">
            <h1 >Our Client</h1>
        </div>
       
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/500/301" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
           </div>
           <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/500/302" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
           </div>
        
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/500/303" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
       </div>
       <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/500/304" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
       </div>
        
    </div>
</div>

{% endblock mainBody %}
