<div class="bg-dark">
    <div class="container">
        <form onsubmit="handler(event)">
            {% csrf_token %}
        <div class="row mt-3 mb-3 pt-3 pb-3">
            <div class="col-md-9">
                <div class="mt-2 mb-2">
                   
                    <input type="text" class="form-control form-control-lg" 
                        placeholder="Paste your link here" name="url" id="abcd">
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-grid gap-2 mb-2 mt-2 ">
                    <button class="btn btn-primary btn-lg" type="submit" >Shorten</button>
                </div>
            </div>
          

            <div class="mx-auto" style="width: 100%;">
            <div class="col-md-6">
                <div class="alert alert-success" id="s_url_div" role="alert" style="display: none;">
                    <span id="s_url"></span>
                    <div class="float-end">
                        <i class="fa fa-copy fa-2x" ></i>
                    </div>
                     </div>
            </div>
        </div>
        
        </div>
        </form>
    </div>
</div>

<script>
function handler(event){
    event.preventDefault();
    const o_url = document.getElementsByName('url')[0].value;
    const csrfmiddlewaretoken=document.getElementsByName("csrfmiddlewaretoken")[0].value;
    const url = "http://127.0.0.1:8000/home/short/";
    let data = new FormData();
    data.append('url', o_url);;
    data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);

    fetch(url, {
        method : "POST",
        body: data,
    }).then(
        response => response.text()
    )
    .then(
        s_url => {
            document.getElementsByName('url')[0].value='';
            document.getElementById("s_url").innerText=s_url;
            document.getElementById("s_url_div").style.display="block"
        }

    );

}
</script>